body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.jumbotron-home {
	padding: 30px 0px;
	border-radius: 0px;
	background-color: #fff;
}

.jumbotron-home h1 {
	padding: 15px 20px;
	font-size: 48px;
	color: #9f3131;
}

.jumbotron-home h1 small {
	font-size: 20px;
}

.jumbotron-home p {
	padding: 5px 25px;
	font-size: 18px;
	color: #c45f5f;
}

.profile-photo {
	max-width: 200px;
	margin-bottom: 60px;
}

.my-logo {
	max-width: 120px;
}

.fav-quotes h2 {
	margin-top: 20px;
	color: #999;
}

.fav-quotes h3 {
	padding-top: 20px;
	color: #222;
}

.home-detail {
	padding: 20px;
	background-color: #fff;
}

.home-detail .row {
	margin: 48px 0;
}

.home-detail h2 {
	color: #999;
}

.home-detail h3 {
	color: #262626;
	padding-top: 20px;
}

.home-detail p {
	margin: 0;
	padding-left: 10px;
}

.texti-founder {
	color: #0c5699;
	font-weight: 700;
}

.my-tile {
	padding: 30px;
	text-align: center;
	height: 400px;
}