body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.jumbotron-home {
	padding: 30px 0px;
	border-radius: 0px;
	background-color: #690f46;
}

.jumbotron-home h1 {
	padding: 15px 20px;
	font-size: 48px;
	color: #fff;
}

.jumbotron-home p {
	padding: 5px 25px;
	font-size: 18px;
	color: #c45f5f;
}

.profile-photo {
	max-width: 200px;
	margin-bottom: 60px;
}

.my-logo {
	max-width: 150px;
}

.fav-quotes h2 {
	margin-top: 20px;
}

.fav-quotes h3 {
	color: #690f46;
}

.home-detail {
	padding: 20px;
	margin-top: 60px;
	background-color: #2c214c;
}

.home-detail h2 {
	padding: 30px 0px;
	color: #eee;
}

.home-detail p {
	color: #c6bddf;
}

.my-tile {
	padding: 30px;
	text-align: center;
	height: 400px;
}