body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.navbar-bugs {
    background-color: #222 !important;
}

.navbar-brand {
	color: #bb6565 !important;
}

.jumbotron-bugs,
.jumbotron-myyp {
	padding-top: 30px;
	padding-bottom: 10px;
	border-radius: 0px;
}

.jumbotron-bugs p {
	color: #cc8d8d;
}

.jumbotron-bugs {
	background-color: #851818 !important;
}

.jumbotron-myyp {
	background-color: #ffc90e !important;	
}

.jumbotron-bugs {
	color: #fff;
}

.jumbotron-myyp * {
	color: #222;
}

.nav-item .nav-link {
    color: #eee !important;
}

.nav-item .nav-link:hover {
    color: #fff !important;
}

.favs-item h2 {
	padding-top: 10px;
	font-size: 20px;
}

.favs-item p {
	margin: 5px 0px;
}

.no-display {
	display: none;
}

.oauth-section {
	padding-bottom: 10px;
}

/* custom card style */
.card-myyp .card {
	margin: 5px;
}

.card-myyp .card .card-block {
	padding: 15px 3px 0px 3px;
}

.card-myyp .card-title small {
	font-size: 13px;
	text-transform: uppercase;
}

.card-myyp .card ul {
	list-style-type: none;
	padding: 0px;
}

.card-myyp .card ul li{
	font-size: 14px;
	margin-left: 2px !important;
	padding: 1px 0px;
}

@media (max-width: 480px) {
	.jumbotron {
		padding-bottom: 1px;
	}

	.jumbotron h1 {
		font-size: 18px;
	}

	.jumbotron p {
		font-size: 12px;
	}

	.favs-item p {
		font-size: 18px;
	}
}