body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.navbar-bugs {
    background-color: #222 !important;
}

.navbar-brand {
	color: #bb6565 !important;
}

.jumbotron-bugs,
.jumbotron-myyp {
	padding-top: 30px;
	padding-bottom: 10px;
	border-radius: 0px;
}

.jumbotron-bugs {
	background-color: #9e4747 !important;
}

.jumbotron-myyp {
	background-color: #ffc90e !important;	
}

.jumbotron-bugs {
	color: #fff;
}

.jumbotron-myyp * {
	color: #222;
}

.nav-item .nav-link {
    color: #eee !important;
}

.nav-item .nav-link:hover {
    color: #fff !important;
}

.favs-item h2 {
	padding-top: 10px;
	font-size: 20px;
}

.favs-item p {
	margin: 5px 0px;
}

.no-display {
	display: none;
}

/* styles for sio2lst */
.table-myyp thead th{
	color: #1959c4;
}

@media (max-width: 480px) {
	.jumbotron {
		padding-bottom: 1px;
	}

	.jumbotron h1 {
		font-size: 18px;
	}

	.jumbotron p {
		font-size: 12px;
	}

	.favs-item p {
		font-size: 18px;
	}
}