body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.navbar-bugs {
    background-color: #222 !important;
}

.navbar-brand {
	color: #bb6565 !important;
}

.jumbotron-bugs {
	padding-top: 80px;
	padding-bottom: 10px;
	border-radius: 0px;
	background-color: #9e4747 !important;
}

.jumbotron-bugs * {
	color: #fff;
}

.nav-item .nav-link {
    color: #eee !important;
}

.nav-item .nav-link:hover {
    color: #fff !important;
}

.favs-bugs {
	
}

@media (max-width: 480px) {
	.jumbotron-bugs {
		padding-top: 70px;
		padding-bottom: 1px;
	}

	.jumbotron-bugs h1 {
		font-size: 16px;
	}

	.jumbotron-bugs p {
		font-size: 12px;
	}
}