body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.navbar-bugs {
    background-color: #222 !important;
}

.navbar-brand {
	color: #bb6565 !important;
}

.jumbotron-bugs,
.jumbotron-pcl {
	padding-top: 30px;
	padding-bottom: 10px;
	border-radius: 0px;
}

.jumbotron-bugs {
	background-color: #9e4747 !important;
}

.jumbotron-pcl {
	background-color: #5b8cde !important;	
}

.jumbotron-bugs *,
.jumbotron-pcl * {
	color: #fff;
}

.nav-item .nav-link {
    color: #eee !important;
}

.nav-item .nav-link:hover {
    color: #fff !important;
}

.favs-bugs h2 {
	padding-top: 10px;
	font-size: 20px;
}

.favs-bugs p {
	margin: 5px 0px;
}

/* styles for sio2lst */
.table-sio2lst thead th{
	color: #1959c4;
}

@media (max-width: 480px) {
	.jumbotron-bugs {
		padding-top: 70px;
		padding-bottom: 1px;
	}

	.jumbotron-bugs h1 {
		font-size: 18px;
	}

	.jumbotron-bugs p {
		font-size: 12px;
	}

	.favs-bugs p {
		font-size: 18px;
	}
}