body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
    background-color: #f1f1f1;
}

.jumbotron-main,
.jumbotron-misc,
.jumbotron-porn {
    padding: 20px 0px;
    border-radius: 0px;
}

.jumbotron-main {
	background-color: #000 !important;
    color: #f4a7ba;
}

.jumbotron-misc {
    background-color: #000 !important;
    color: #78bedf;
}

.jumbotron-porn {
    background-color: #000 !important;
    color: #ff9800;
}

.jumbotron-main h1,
.jumbotron-misc h1,
.jumbotron-porn h1 {
    font-weight: bold !important;
    font-family: Georgia;
}

h2 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 5px 0px;
}

.page-main h2 {
    color: #ad445c;
}

.body-main a {
    color: #000;
    text-decoration: none;
}

.body-main a:hover {
    color: #ad445c;
}

.page-misc h2 {
    color: #0281bd;
}

.body-misc a {
    color: #000;
    text-decoration: none;
}

.body-misc a:hover {
    color: #ad445c;
}

.page-porn h2 {
    color: #ca7901;
}

.body-porn a {
    color: #000;
    text-decoration: none;
}

.body-porn a:hover {
    color: #ca7901;
}

.smaller {
    font-size: 0.7em;
}

@media (max-width:767px) {
	.jumbotron h1 {
		font-size: 36px;
        text-align: center;
	}

	.jumbotron p {
		font-size: 18px;
	}

    .page-main h2,
    .page-misc h2,
    .page-porn h2 {
        background-color: #000;
        padding: 15px 0;
        margin: 30px 0 20px;
        font-size: 28px;
        text-align: center;
    }
    .page-main h2 {
        color: #f4a7ba;
    }
    .page-misc h2 {
        color: #78bedf;
    }
    .page-porn h2 {
        color: #ff9800;
    }

	.row p {
		font-size: 22px;
        border: 1px solid #eee;
        padding: 10px 20px;
        border-radius: 4px;
        text-align: center;
	}
}