body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.jumbotron-main,
.jumbotron-misc,
.jumbotron-porn {
    padding: 20px 0px;
    border-radius: 0px;
}

.jumbotron-main {
	background-color: #005174 !important;
    color: #d4dfe3;
}

.jumbotron-misc {
    background-color: #282923 !important;
    color: #f8a1a4;
}

.jumbotron-porn {
    background-color: #282923 !important;
    color: #ff9800;
}

.jumbotron-main h1,
.jumbotron-misc h1,
.jumbotron-porn h1 {
    font-weight: bold !important;
    font-family: Georgia;
}

.page-main h2 {
    color: #b1040e;
}

h2 {
	padding-top: 20px;
	font-size: 20px;
    font-weight: bold;
}

p {
	margin: 5px 0px;
}

a {
    text-decoration: none;
}

.smaller {
    font-size: 0.7em;
}

@media (max-width:767px) {
	.jumbotron h1 {
		font-size: 36px;
        text-align: center;
	}

	.jumbotron p {
		font-size: 18px;
	}

    .page-main h2 {
        background-color: #b1040e;
        color: #fff;
        padding: 15px 0;
        margin: 30px 0 20px;
        font-size: 28px;
        text-align: center;
    }

	.row p {
		font-size: 24px;
        border: 1px solid #eee;
        padding: 10px 20px;
        border-radius: 4px;
        text-align: center;
	}
}