@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --theme1-color: #5e068c;
  --theme2-color: #0281bd;
  --theme3-color: #ca7901;
  --theme4-color: #039365;
}

body, button, html, input, select, textarea {
    font-family: Roboto;
    background-color: #f1f1f1;
}

.jumbotron {
    padding: 15px 0px 6px;
    border-radius: 0px;
}

.jumbotron-theme1 {
	background-color: var(--theme1-color) !important;
    color: #fff;
}

.jumbotron-theme2 {
    background-color: var(--theme2-color) !important;
    color: #fff;
}

.jumbotron-theme3 {
    background-color: var(--theme3-color) !important;
    color: #fff;
}

.jumbotron-theme4 {
    background-color: var(--theme4-color) !important;
    color: #fff;
}

.jumbotron h1 {
    font-size: 2em;
    font-weight: bold !important;
    font-family: Roboto;
}

h2 {
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.row p {
    font-size: 1em;
    border: 1px solid transparent;
    margin: 2px 0px;
}

.page-theme1 h2 {
    color: var(--theme1-color);
}

.body-theme1 a {
    color: #000;
    text-decoration: none;
}

.body-theme1 a:hover {
    color: var(--theme1-color);
}

.page-theme2 h2 {
    color: var(--theme2-color);
}

.body-theme2 a {
    color: #000;
    text-decoration: none;
}

.body-theme2 a:hover {
    color: var(--theme2-color);
}

.page-theme3 h2 {
    color: var(--theme3-color);
}

.page-theme3 small {
    color: #333;
}

.page-theme3 h2.missav {
    color: #d80e70;
}

.body-theme3 a {
    color: #000;
    text-decoration: none;
}

.body-theme3 a:hover {
    color: var(--theme3-color);
}

.page-theme4 h2 {
    color: var(--theme4-color);
}

.page-theme4 small {
    color: #333;
}

.body-theme4 a {
    color: #000;
    text-decoration: none;
}

.body-theme4 a:hover {
    color: var(--theme4-color);
}

.smaller {
    font-size: 0.9em;
}

ul.outline li {
    font-size: 1em;
    margin: 4px 0;
}

@media (max-width:767px) {
	.jumbotron h1 {
		font-size: 2em;
        text-align: center;
	}

    h2 {
        padding: 10px 0;
        margin: 10px 0;
        font-size: 1.4em;
        text-align: left;
        color: #fff;
    }

    .page-theme1 h2 {
        color: var(--theme1-color);
        border-bottom: solid 5px var(--theme1-color);
    }
    .page-theme2 h2 {
        color: var(--theme2-color);
        border-bottom: solid 5px var(--theme2-color);
    }
    .page-theme3 h2 {
        color: var(--theme3-color);
        border-bottom: solid 5px var(--theme3-color);
    }
    .page-theme3 h2.missav {
        color: #d80e70;
        border-bottom: solid 5px #d80e70;
    }
    .page-theme4 h2 {
        color: var(--theme4-color);
        border-bottom: solid 5px var(--theme4-color);
    }

	.row p {
		font-size: 1.4em;
        border: 1px solid transparent;
        padding: 2px 8px;
	}

    ul.outline li {
        font-size: 1.4em;
        margin: 4px 0;
    }
}